.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  min-height: 400px;
  gap: 25px;
  max-width: 300px;
  width: 100%;
}

.item-card-img-cont {
  display: flex;
  gap: 25px;

  justify-content: center;
}
.item-card img {
  max-width: 150px;
  max-height: 200px;
  height: 100%;
}
.item-card-info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.quantity-control {
  display: flex;
  align-items: center;
  gap: 20px;
}
