.item-container {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  justify-content: center;
  gap: 20px;
}

@media (max-width: 653px) {
  .item-container {
    grid-template-columns: repeat(1, minmax(200px, 400px));
  }
}
